@use "../../../styles/variables" as *;

.button {
  font-family: $font-body;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  padding: 20px 36px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  max-width: 100%;
  text-align: center;
}

.solid {
  background: $color-red-cta;
  color: $color-white;
}

.outline {
  background: $color-white;
  color: $color-red-cta;
}
