@use "../../../styles/variables" as *;

.videoSection {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 5;
  background: $color-bg-dark;
  overflow: hidden;
}

.videoSection__poster {
  object-fit: cover;
}

.videoSection__playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.videoSection__video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
